.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  //border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px 20px;
  max-height: 180px;
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 2px solid var(--card-bg-border-color);

  transition: all 200ms;
  &:hover {
    border: 2px solid var(--card-bg-border-color-hover);
    //transform: translateY(-1px);
    //transform: translateY(-2px); // легкий подъём
  }
}

.container_name {
  display: flex;
  gap: 5px;
}

.name {
  display: flex;
  text-align: start;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  width: fit-content;
  white-space: nowrap;
}

.change {
  border: 1px solid var(--card-bg-border-color);
  background-color: var(--card-color-hover);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 3px 5px 5px 5px;
}

.sums_container {
  display: flex;
  gap: 10px;
  justify-content: start;
}

.total_sum {
  font-size: 28px;
}

.dominate_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dominate_name {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.dominate_change {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 100%;
  margin-left: auto;
}

.progress_bar_container {
  margin-top: 15px;
}

.dots_menu {
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 35px;
}
