.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  //border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px 20px;
  max-height: 180px;
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);


  transition: all 200ms;
  &:hover {
    //transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(59, 130, 246, 0.3);
  }
}

.name {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.sums_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.total_sum {
  font-size: 28px;

}

.change {

}

.dominate_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dominate_name {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.dominate_change {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 100%;
  margin-left: auto;
}

.progress_bar_container {
  margin-top: 15px;
}
