@use '@/styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  position: relative;
}

.top_part {
  display: flex;
  margin: 30px 50px;
}

.text_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  font-size: 35px;
}

.buttons_container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button {
  width: 100px;
}

