@use "@/styles/variables" as *;

.main_header {
  width: 100vw;
  background-color: var(--bg-secondary-color);
  position: fixed;
  display: flex;
  align-items: center;
  height: #{$headerHeight};
  border: 1px solid var(--border-color-header);
  z-index: 999;
  top: 0;
  padding: 0 20px;
}

.logo_part {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}

.search {
  margin-left: 50px;
  width: 400px;
  display: flex;
  align-items: center;
}

.user_container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 500px;
}

.burger_button_container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
