.list {
  display: flex;
  flex-direction: column;
  //justify-content: center;

  padding: 10px 0;
  padding-inline-end: 10px;
  //scroll-padding-top: 8px;
  //scroll-padding-bottom: 8px;
}

.control_input {
  //margin-bottom: 10px;
}

.list .element {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 300ms;

  &:hover {
    background-color: var(--card-color-hover);
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
