.left_part {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 40px var(--box-shadow-color);
}

.border_top {
  border-top: 0.5px solid rgba(var(--border-color-in-rbg), 0.05);
  border-top: 0.5px solid
    color-mix(in srgb, var(--border-color) 5%, transparent);
}
