.main {
  display: flex;
  padding: 20px 30px;
}

.left_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart {
  width: 100%;
  border-radius: 15px;
  margin-left: 30px;
}

.heading_of_chart {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 10px 30px;
  box-shadow: 0 4px 40px var(--box-shadow-color);
}

