.button {
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--font-color);
  transition: all 200ms;
  box-shadow: 0 5px 5px var(--shadow-color);
}

.primary {
  background-color: var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
  }
}

.outline {
  background: transparent;
  border: 1px solid var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-color);
  }
}

.tile {
  background-color: transparent;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 1px var(--border-color);
  scale: 1;
  transform-origin: center;

  &:hover {
    transform: scale(1.005);
  }
}

.sm {
  font-size: 17px;
  padding: 15px;
}

.md {
  font-size: 20px;
  padding: 15px 15px;
}

.lg {
  font-size: 24px;
  padding: 15px 20px;
}
