.button {
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--font-color);
  transition: all 200ms;
  box-shadow: 0 5px 5px var(--shadow-color);
}

.disabled {
  opacity: 0.85;
  pointer-events: none;
}

.primary {
  background-color: var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
  }
}

.outline {
  background: transparent;
  border: 1px solid var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-color);
  }
}

.tile {
  background-color: transparent;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 1px var(--border-color);
  scale: 1;
  transform-origin: center;

  &:hover {
    border: 1px solid var(--card-bg-border-color-hover);
    color: var(--card-bg-border-color-hover)
  }
}

.ghost {
  background-color: var(--bg-secondary-color);
  border: none;
  box-shadow: none;
  padding: 10px 20px !important;
  border-radius: 10px;

  &:hover {
    background-color: var(--bg-alternative-color);
  }

  &.active {
    background-color: var(--bg-primary-color);
  }
}

.sm {
  font-size: 17px;
  padding: 15px;
}

.md {
  font-size: 20px;
  padding: 15px 15px;
}

.lg {
  font-size: 24px;
  padding: 15px 20px;
}
