.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--font-color);
  transition: all 200ms;
  box-shadow: 0 5px 5px var(--shadow-color);
}

.icon {
  position: absolute;
  left: 15px;
}

.text {
  margin: auto 0;
}

.disabled {
  opacity: 0.85;
  pointer-events: none;
}

// Основные типы кнопок
.primary {
  background-color: var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
  }
}

.outline {
  background: transparent;
  border: 1px solid var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
    opacity: 0.9;
  }
}

.tile {
  background-color: transparent;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 1px var(--border-color);
  scale: 1;
  transform-origin: center;

  &:hover {
    border: 1px solid var(--card-bg-border-color-hover);
    color: var(--card-bg-border-color-hover);
  }
}

.ghost {
  background-color: var(--bg-secondary-color);
  border: none;
  box-shadow: none;
  padding: 10px 20px !important;
  border-radius: 10px;

  &:hover {
    background-color: var(--bg-alternative-color);
  }

  &.active {
    background-color: var(--bg-primary-color);
  }
}

// Размеры кнопок
.sm {
  font-size: 16px;
  padding: 12px;
}

.md {
  font-size: 18px;
  padding: 12px 15px;
}

.lg {
  font-size: 24px;
  padding: 15px 20px;
}

// Цветовые варианты
.red-color {
  &.primary {
    background-color: var(--error-color);

    &:hover {
      background-color: var(--error--hover-color);
    }
  }

  &.outline {
    border-color: var(--error-color);
    color: var(--error-color);

    &:hover {
      background-color: var(--error-color);
      color: white;
    }
  }
}

.green-color {
  &.primary {
    background-color: var(--success-color);
  }

  &.outline {
    border-color: var(--success-color);
    color: var(--success-color);

    &:hover {
      background-color: var(--success-color);
      color: white;
    }
  }
}
