.header_assets {
  padding: 40px;
  background-color: var(--bg-secondary-color);
  border-radius: 15px;
  width: 400px;
}

.text {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.total_balance {
  font-size: 40px;
}
