.header_assets {
  padding: 40px;
  background-color: var(--bg-alternative-color);
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 40px var(--box-shadow-color);
}

.text {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.total_balance {
  font-size: 40px;
}
