.input_container {
  position: relative;
}

.input {
  width: 100%;
  background-color: transparent;
  color: var(--font-color);
  border-radius: 5px;
  border: 1px solid var(--blue-border-color);
  font-size: 20px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.label {
  position: absolute;
  font-size: 18px;
  left: 12px;
  top: 4px;
  pointer-events: none;
  background-color: var(--bg-primary-color);
  padding: 0 5px;
  color: var(--font-color);
  transform-origin: left center;
  opacity: 1;
}

.bg-label-primary {
  background-color: var(--bg-primary-color);
}

.bg-label-secondary {
  background-color: var(--bg-secondary-color);
}

.bg-label-alternative {
  background-color: var(--bg-alternative-color);
}

.sm {
  font-size: 16px;
  padding: 12px;
}

.md {
  font-size: 18px;
  padding: 12px 15px;
}

.lg {
  font-size: 24px;
  padding: 15px 20px;
}

.sm-label {
  font-size: 16px;
}

.md-label {
  font-size: 16px;
}

.lg-label {
  font-size: 24px;
}
