.card_button {
  display: flex;
  align-items: center;
}

.card_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.image_card {
  position: absolute;
  border-radius: 50%;
  background-color: var(--bg-primary-color);
}

.text_card {
  display: flex;
  margin: 0 auto;
}

.fix_data_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.list {
  overflow-y: scroll;
  max-height: 320px;

  /* Стили для WebKit (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    //background: var(--bg-secondary-color); // Используйте ваши переменные
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-secondary-color); // Используйте ваши переменные
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3px;
    transition: background 0.2s;

    &:hover {
      background: var(--primary-color);
    }
  }
}
